<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>抽奖登陆</title>
<link rel="stylesheet" href="css/login.css">
<body>

<div class="login-container">
  <h1>登陆</h1>

  <div class="connect">
    <p>抽奖还是要的，万一中了呢？</p>
  </div>

  <form action="" method="post" id="loginForm">
    <div>
      <input type="text" name="username" id="userName" class="username" placeholder="用户名" autocomplete="off"/>
    </div>
    <div>
      <input type="password" name="password" id="userPsd" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
    </div>

    <button id="loginBtn" type="submit">登 陆</button>
  </form>


</div>

</body>
<script src="js\commen\jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js\commen\jump.js" type="text/javascript"></script>
<script src="js\commen\login.js" type="text/javascript"></script>
<script src="js\login\common.js" type="text/javascript"></script>

<!--背景图片自动更换-->
<script src="js\login\supersized.3.2.7.min.js" type="text/javascript"></script>
<script src="js\login\supersized-init.js" type="text/javascript"></script>
<!--表单验证-->
<script src="js\login\jquery.validate.min.js?var1.14.0" type="text/javascript"></script>
</html>